<ul>
    <li><a routerLink="/game">Play</a></li>
    <li><a routerLink="/load">Load game</a></li>
    <li><a routerLink="/settings">Settings</a></li>
    <li><a routerLink="/about">About</a></li>
</ul>