<div>
    <p>Hello, {{ gameState.playerName }}!</p>
    <p>You're in what appears to be {{ gameState.currentRoom.name }}</p>
    <p>It looks like there are doors leading to {{exitsToString()}}</p>
    <hr *ngIf="gameState.messageLog.length !== 0">
    <ng-container *ngFor="let message of gameState.messageLog">
        <p>{{message}}</p>
    </ng-container>
    <hr>
    <p>Do:</p>
    <ng-container *ngIf="!isExaminingObject()">
        <ng-container *ngFor="let roomGameObject of gameState.currentRoom.gameObjects">
            <ng-container *ngFor="let roomObjectAction of roomGameObject.onAction">
                <button (click)="gameObjectAction(roomGameObject, roomObjectAction.actionName)">
                    {{roomObjectAction.description}}
                </button>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="isExaminingObject()">
        <ng-container *ngFor="let gameObject of gameState.examinedObject.attachedGameObjects">
            <ng-container *ngFor="let objectAction of gameObject.onAction">
                <button (click)="gameObjectAction(gameObject, objectAction.actionName, gameState.examinedObject)">
                    {{objectAction.description}}
                </button>
            </ng-container>
        </ng-container>
        <button (click)="returnToRoom()">Go back</button>
    </ng-container>
    
    <p>Go to:</p>
    <ng-container *ngFor="let room of gameState.currentRoom.exits">
        <button (click)="goToRoom(room)">
            {{room.name}}
        </button>
    </ng-container>
    <hr>
    <p>Invenotry</p>
    <ng-container *ngFor="let inventoryItem of gameState.inventory">
            {{inventoryItem.name}}
    </ng-container>
</div>